<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.platosys.keylocks">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DirectoryActivity"
            android:label="@string/title_activity_directory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SetupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TestPassphrase" />
        <activity android:name=".activities.ConfigureKeyActivity" />
        <service
            android:name=".services.LocksmithService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.LockstoreService"
            android:exported="false" />

    </application>

</manifest>